go 1.26.4

use (
	./bindings/go/blob
	./bindings/go/cel
	./bindings/go/configuration
	./bindings/go/constructor
	./bindings/go/credentials
	./bindings/go/ctf
	./bindings/go/dag
	./bindings/go/descriptor/normalisation
	./bindings/go/descriptor/runtime
	./bindings/go/descriptor/v2
	./bindings/go/examples
	./bindings/go/generator
	./bindings/go/gpg
	./bindings/go/helm
	./bindings/go/http
	./bindings/go/http/integration
	./bindings/go/input/dir
	./bindings/go/input/file
	./bindings/go/input/utf8
	./bindings/go/oci
	./bindings/go/oci/integration
	./bindings/go/plugin
	./bindings/go/repository
	./bindings/go/rsa
	./bindings/go/runtime
	./bindings/go/signing
	./bindings/go/sigstore
	./bindings/go/sigstore/integration
	./bindings/go/transfer
	./bindings/go/transfer/integration
	./bindings/go/transform
	./cli
	./cli/integration
	./conformance/scenarios/sovereign/components/notes
	./kubernetes/controller
)
