{{define "credentials_scheme.go" -}}
package credentials

import (
	"ocm.software/open-component-model/bindings/go/runtime"
	v1 "{{ .ModulePath }}/spec/credentials/{{ .Version }}"
)

// Scheme holds the registered {{ .Package }} credential specification types.
var Scheme = runtime.NewScheme()

func init() {
	v1.MustRegisterCredentialType(Scheme)
}
{{end}}

{{define "credentials.go" -}}
package {{ .Version }}

import "ocm.software/open-component-model/bindings/go/runtime"

const {{ .Spec }}CredentialsType = "{{ .Spec }}Credentials"

var {{ .Spec }}CredentialsVersionedType = runtime.NewVersionedType({{ .Spec }}CredentialsType, Version)

// MustRegisterCredentialType registers {{ .Spec }}Credentials/{{ .Version }} (and its unversioned alias) in the given scheme.
func MustRegisterCredentialType(scheme *runtime.Scheme) {
	scheme.MustRegisterWithAlias(&{{ .Spec }}Credentials{},
		{{ .Spec }}CredentialsVersionedType,
		runtime.NewUnversionedType({{ .Spec }}CredentialsType),
	)
}

// {{ .Spec }}Credentials represents typed credentials for {{ .Spec }} authentication.
//
// TODO: replace the sample fields below with the real credential parameters.
//
// +k8s:deepcopy-gen:interfaces=ocm.software/open-component-model/bindings/go/runtime.Typed
// +k8s:deepcopy-gen=true
// +ocm:typegen=true
type {{ .Spec }}Credentials struct {
	// +ocm:jsonschema-gen:enum={{ .Spec }}Credentials/{{ .Version }}
	// +ocm:jsonschema-gen:enum:deprecated={{ .Spec }}Credentials
	Type runtime.Type `json:"type"`
	// Username is the username for HTTP Basic Authentication. Used together with Password.
	Username string `json:"username,omitempty"`
	// Password is the password for HTTP Basic Authentication. Used together with Username.
	Password string `json:"password,omitempty"`
	// IdentityToken is a bearer token sent as "Authorization: Bearer <token>".
	IdentityToken string `json:"identityToken,omitempty"`
}
{{end}}
